[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "https://${FURY_AUTH}:@pypi.fury.io/stonest/"
verify_ssl = true
name = "fury"

[dev-packages]
pylint = "*"
grpcio-tools = "*"
pytest-grpc = "*"
pytest = "*"
grpcio-testing = "*"
tox = "*"
discover = "*"

[packages]
grpcio = "*"
gpiozero = "*"
pickledb = "*"
pytest-grpc = "*"
alarmgrpc = {version = "*",index = "fury"}

[requires]
python_version = "3.8"
