[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
url = "h​ttps://packages.beerfie.com/pypi/"
verify_ssl = true
name = "beerz"

[dev-packages]
pylint = "*"
grpcio-tools = "*"
pytest-grpc = "*"
pytest = "*"
grpcio-testing = "*"
tox = "*"
discover = "*"

[packages]
grpcio = "*"
gpiozero = "*"
pickledb = "*"
pytest-grpc = "*"
alarmgrpc = {version = "*",index = "beerz"}

[requires]
python_version = "3.8"
