[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
grpcio-tools = "*"
pytest-grpc = "*"
pytest = "*"
grpcio-testing = "*"
tox = "*"
discover = "*"

[packages]
gpiozero = "*"
pickledb = "*"
pytest-grpc = "*"

[requires]
python_version = "3.8"
